@model List<TaskModel>
@{
    ViewData["Hellotext"] = "Hello text";
}


<table class="table">
    <thead>
        <tr>
            <td scope="col">#</td><td scope="col">Id</td><td scope="col">Name</dt><td scope="col">Desc</td>
        </tr>
    </thead>

    <tbody>
        @{
            int counter = 0;
            foreach (TaskModel task in Model)
            {
                <tr>
                    <td scope="row">@counter</td>
                    <td>@task.Id</td>
                    <td>@task.Name</td>
                    <td>@task.Description</td>
                </tr>
                counter += 1;
            }
        }

    </tbody>

</table>